body {
  background-color: white;
  font-family: "Press Start 2P";
}

h1,
label,
input {
  display: inline-block;
  transform: scale(1, 1.2);
  margin: 8px 0px 8px 0px;
}

div {
  border: solid 1px black;
}

img {
  border: solid 1px red;
  width: 150px;
  height: 150px;
}

#player-img {
}

#battle-div {
  display: flex;
}

#player-box,
#opponent-box {
  flex: 1 1 50%;
}
